.banniere {
    width: 100%;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 500px; */
  }
  
  .banniere img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    
    /* margin-bottom: 500px; */
  }
  
  .banniere .overlay1 {
    position: relative;
    width: 1120px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  
  
  .p1 {
    display: flex;
    text-align: start;
    justify-content: initial;
    margin-left: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
   
  }
  

  .content{
    margin-left: 40px;
  }


  @media (max-width: 576px) {
    main.body  {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      position: absolute !important;
      overflow: hidden;
      display: flex;
    }
  
    #img{
      width: 100% !important;
      height: auto !important;
      object-fit: cover !important;
      display: block !important;
     
    }
  
  }

  

  @media (min-width: 760px) and (max-width: 1024px) {

    main.body  {
     
      display: flex;
    }
   
    .banniere {
      width: 100%;
      position: relative;
      overflow: hidden;
      /* margin-bottom: 500px; */
    }
    
    .banniere img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      
      /* margin-bottom: 500px; */
    }
    
    .banniere .overlay1 {
      position: relative;
      width: 359px; 
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    .h1{
      text-align: start;
      /* margin-left: auto; */
      font-size: 10px;
    }

    .det1{
      text-align:start;
      font-size: 15px;
    }
    .det{
      text-align: start;
      font-size: 15px;
      
    }
    
    .la{
      text-align: start;
      font-size: 15px;
    }

   
  }